[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
textblob = "*"
spacy = "*"
gensim = "==3.6.0"
neattext = "*"
matplotlib = "*"
wordcloud = "*"
google-trans-new = "*"
deep-translator = "*"

[requires]
python_version = "3.8"
